:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-container {
  margin-top: 20px;
}

.sign-in-button {
  padding: 10px 10px;
  border: none;
  background-color: white;
  color: #001529;
  font-weight: bold;
  font-size: normal;
  border-radius: 10px;
}

.sign-in-button:hover {
  cursor: pointer;
  background-color: #134d83;
  color: white;
}

.player-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game-board{
  width: 100%;
}

.player-hand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.face-down-pile {
  position: relative;
  width: 30px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.face-down-pile .card {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
}

.face-up-pile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face-up-pile .card {
  margin-bottom: 5px;
}

.card {
  width: 20px;
  height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}



.card.Hearts {
  background-color: #ff4c4c;
}

.card.Diamonds {
  background-color: #ff4c4c;
}

.card.Clubs {
  background-color: #333;
}

.card.Spades {
  background-color: #333;
}

.card .value {
  font-size: 10px;
  font-weight: bold;
  color: white;
}